doctype html
html(lang='he')
    include head
    body
        div.main
            h2 גולש יקר! ⚠️
            p הדף אליו ניסית לגשת הוסר, לא נגיש זמנית או ששמו שונה... 
        div.btn
            a(id="button" class='return' href="/student") חזרה לדף הבית
        h3 Yo4v® 2021 - יואב ליברמן