<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Yoav Liberman">
    <title>מערכת לניהול סטודנדטים - יואב ליברמן</title>
    <link rel="stylesheet" href="styles-global.css">
    <link rel="stylesheet" href="style-index.css">
  </head>
  <body>
    <div class="main">
      <h1>מטלת גמר קורס תכנות צד שרת</h1>
      <form method="post" action="/student">
        <label for="toar">תואר: 
          <select id="toar" name="toar" selected="">
            <option value="all">-- כל התארים --</option>
            <option value="ba">תואר ראשון</option>
            <option value="ma">תואר שני</option>
            <option value="phd">תואר שלישי</option>
          </select>
        </label>
        <label for="city">עיר:
          <input type="text" id="city" name="city">
        </label>
        <label for="min_avg">ממוצע ציונים מינימלי: 
          <input type="number" id="min_avg" name="min_avg" min="0" max="100">
        </label>
        <button type="submit">סינון </button>
      </form>
      <hr>
      <h3>סטודנדטים שהתקבלו: </h3>
    </div>
    <div class="table">
      <table>
        <tr> 
          <th>ת.ז</th>
          <th>שם הסטודנט/ית </th>
          <th></th>
          <tr>
            <td> </td>
            <form method="post">
              <button type="submit">מחיקת סטודנט/ית</button>
            </form>
            <td></td>
            <form method="get">
              <button type="submit">עדכון סטודנט/ית</button>
              <tr></tr>
            </form>
          </tr>
        </tr>
      </table>
      <hr>
    </div>
    <div class="button"><a href="/student/add">הוספת סטודנט/ית למערכת</a></div>
  </body>
</html>